body{
    background-image: url(https://media.istockphoto.com/id/610758838/es/vector/patrón-de-ejercicios.jpg?s=612x612&w=0&k=20&c=uZAJ6Us77ISoBspZvq32TXDBYHj80Kz3kGt26UVowkg=);
}
table{
    background-color: white;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
}
h2{
    background-color: black;
    color: white;
}
table{
    font-size: 20px;
}